---
---

@import "{{ site.theme }}";
body {
  background: #E0E4CC;
}
.wrapper {
  width: 960px;
  background: #E0E4CC;
  box-shadow: none;
}
header {
  background-color: #A7DBD8;
}
header p {
  width: 100%;
}
