---
---

@import "{{ site.theme }}";
body {
  background: #F9F2E7;
}
.page-header {
  background-color: #00A8C6;
  background-image: none;
  padding: 0;
}
.page-header h2 {
  display: none;
}
.page-header h1 {
  margin: 0;
  display: inline;
}
.page-header .btn {
  dispaly: inline;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #8FBE00;
}
  
