<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          htmlTableOfContents();
      } );                        

      function htmlTableOfContents( documentRef ) {
          var documentRef = documentRef || document;
          var toc = documentRef.getElementById("toc");
      //  Use headings inside <article> only:
      //  var headings = [].slice.call(documentRef.body.querySelectorAll('article h1, article h2, article h3, article h4, article h5, article h6'));
          var headings = [].slice.call(documentRef.body.querySelectorAll('h1, h2, h3, h4, h5, h6'));
          headings.forEach(function (heading, index) {
              var ref = "toc" + index;
              if ( heading.hasAttribute( "id" ) ) 
                  ref = heading.getAttribute( "id" );
              else
                  heading.setAttribute( "id", ref );

              var link = documentRef.createElement( "a" );
              link.setAttribute( "href", "#"+ ref );
              link.textContent = heading.textContent;

              var div = documentRef.createElement( "div" );
              div.setAttribute( "class", heading.tagName.toLowerCase() );
              div.appendChild( link );
              toc.appendChild( div );
          });
      }

      try {
          module.exports = htmlTableOfContents;
      } catch (e) {
          // module.exports is not defined
      }
    </script>
  </head>
  <body onload="htmlTableOfContents();">
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {{ site.html_pages }}

    <header class="page-header" role="banner">
      <nav>
        <a href="/{{ site.github.repository_name }}">Home</a>
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}/{{ page.name }}">View on Github</a>
        {% endif %}
      </nav>

      {% if site.show_downloads %}
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {{ page.next }}
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
